body {
    background-image: url(https://cdn.discordapp.com/attachments/1172274565049749535/1296031760479682571/image.png?ex=6710cf22&is=670f7da2&hm=414e90cf22d3c14b697b9ae75181773cb42446761980fe7a55ffbe7eef9eec17&);
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

h1{
    text-align: center;
    margin-top: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5em;
    color: #f5f5f5; /* Lichte tekstkleur */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Schaduw voor meer diepte */
}

.Retry{
    width: 150px; /*Dezelfde breedte zodat de knoppen dezelfde size zijn*/
    margin-left: 365px;
    margin-top: 350px;
    background-color: burlywood;
    color: 222;
    font-size: 15px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px; /* Iets rondere hoeken voor een zachtere look */
    cursor: pointer; /*Een pointer zodat de cursor veranderd wanneer je over de knop hovert*/
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover{
    background-color: beige; /* Donkerdere grijstint voor een subtiele hover */
}

.Next{
    width: 150px; /*Dezelfde breedte zodat de knoppen dezelfde size zijn*/
    margin-left: 568px;
    margin-top: 350px;
    background-color: burlywood;
    color: 222;
    font-size: 15px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px; /* Iets rondere hoeken voor een zachtere look */
    cursor: pointer; /*Een pointer zodat de cursor veranderd wanneer je over de knop hovert*/
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em; /* Kleiner lettertype op kleinere schermen */
    }

    button {
        font-size: 18px;
        padding: 12px 25px;
    }
}

